@media only screen and (max-width: 1200px) {
    .tarif {
        .tarif_card {
            height: 796px;
        }

        .tarif_card_center {
            height: 820px;
        }
    }
}

@media only screen and (max-width: 993px) {
    .title_top {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    
    .title {
        font-size: 29px;
        font-weight: 500;
        line-height: 35px;
    }

    .quiz_modal {
        max-width: 600px;
        padding: 25px 30px;
    }

    header {
        padding: 20px 0 ;

        .header_top {
            justify-content: center;
        }

        .header_contact {
            margin-left: 50px;
        }

        nav {
            display: none;
        }

        .burger_btn {
            display: block;
            position: fixed;
            top: 15px;
            right: 15px;
            z-index: 3;
        }
    }

    .home {
        padding: 40px 0;
        height: auto;
        background-position: center;

        .main_container {
            flex-direction: column;
            align-items: center;
            gap: 50px;
            max-width: 600px;
        }

        .home_right {
            width: 100%;

            img {
                width: 35px;
            }

            p {
                max-width: 100%;
            }
        }
    }

    .step_work {
        padding: 60px 0;

        .step_work_title  {
            margin-bottom: 30px;
        }

        .step_work_in {
            gap: 30px;
            max-width: 600px;
            margin: 0 auto;
        }

        .step_work_card {
            width: 100%;
        }
    }

    .tarif {
        padding: 60px 0;
        .tarif_in {
            flex-direction: column;
        }

        .tarif_card {
            width: 600px;

            h6 {
                margin: 20px 0 30px 0;
            }
        }
    }

    .answer {
        padding: 60px 0 ;
        background-position: center center;
        h6 {
            font-size: 26px;
            line-height: 33px;
        }

        p {
            font-size: 14px;
        }

        .main_btn {
            padding: 30px 60px;
        }
    }

    .result {
        padding: 60px 0;

        .result_slider {
            
            button {
                img {
                    width: 24px;
                }
            }

            .result-button-prev {
                left: 10px;
            }
    
            .result-button-next {
                right: 10px;
            }
        }
    }

    .faq {
        padding: 60px 0 10px 0;
        .faq_in {
            .accordion {

                button {
                    padding: 15px 0;
                }

                .accordion-title {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 22.3px;
                }

                .accordion-item {
                    .icon {
                        flex-shrink: 0;
                        @include flex-full-center;
                        width: 22px;
                        height: 22px;

                        svg {
                            width: 20px !important;
                            height: 20px !important;
                        }
                    }
                }

                .accordion-content {
                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    footer {
        .footer_top {
            flex-direction: column;
            gap: 30px;
        }

        .social_media_bottom  {
            justify-content: center;
            .main_btn {
                padding: 12px 72px;
            }
        }

        .footer_link {
            gap: 40px;
        }

        .social_media_top {
            flex-direction: column;

            span {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        .footer_bottom_link {
            margin-top: 0;
            flex-direction: column-reverse;
            gap: 10px;
        }

        .footer_bottom {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            
            p {
                order: 2;
                max-width: 340px;
                margin: 0 auto;
                text-align: center;
            }

            .footer_bottom_link {
                order: 1;
            }
        }
    }
}

@media only screen and (max-width: 640px) {
    header {
        .header_contact {
            button {
                display: none;
            }
        }
    }

    .home {

        h1 {
            font-size: 30px;
            font-weight: 400;
            line-height: 35.1px;
            margin-bottom: 14px;
        }

        .home_left {
            .main_btn {
                padding: 20px 35px;
                margin-top: 20px;
            }
        }

        .home_right {
            gap: 35px;

            li {
                gap: 30px;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .tarif {
        padding: 60px 0 40px 0;
        .tarif_card {
            width: 100%;

            .main_btn {
                padding: 20px 30px;
            }
        }
    }

    .quiz_modal {
        border-radius: 0;
        border-top: 60px solid #000;
        width: 100%;
        height: 100%;

        .quiz_card_content {
            h6 {
                font-size: 16px;
            }
        }
    }

    .card_modal_wrap {
        width: 100%;
        padding: 0;

        .card_modal {
            border-radius: 0;
            border-top: 60px solid #000;

            .card_modal_content {
                padding: 20px 0;
            }
        }
    }

    .video {
        padding: 60px 0 40px 0;
        .video_in {
            iframe {
                width: 100%;
                height: 220px;
            }
        }
    }

    .modal_contact {
        border-radius: 0;
        border-top: 60px solid #000;
        width: 100%;
        height: 100%;
        padding: 30px;

        form {
            gap: 20px;
        }
    }

    .modal_close {
        top: 5px;
        z-index: 7;
    }
}

@media only screen and (max-width: 480px) {
    header {

        .header_top {
            margin-bottom: 10px;
            .header_contact {
                display: none;
            }
        }

        .header_bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .messanger {
                width: 30px;
                height: 30px;

                img {
                    
                    width: 100%;
                }
            }
        }
    }
}