* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Stolzl", "Arial", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main_container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.main_btn {
  background: linear-gradient(0deg, rgb(252, 82, 35), rgb(252, 109, 69) 100%);
  transition: 0.2s ease;
}
.main_btn:hover {
  background: linear-gradient(0deg, rgb(254, 62, 9), rgb(254, 92, 47) 100%);
}

.title_top {
  color: rgb(143, 166, 180);
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.title {
  color: rgb(35, 35, 35);
  font-size: 46px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

.media_menu_bg {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.media_menu_bg.active {
  display: block;
}

.media_menu {
  transition: 0.2s ease;
  position: fixed;
  background-color: #fff;
  height: 100%;
  width: 60%;
  right: -100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 42px 25px 25px 25px;
}
.media_menu .medu_close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.media_menu ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.media_menu ul a {
  color: rgb(34, 34, 34);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
.media_menu p {
  color: rgb(24, 24, 24);
  font-size: 13px;
  font-weight: 300;
  line-height: 18.85px;
  margin-bottom: 25px;
}
.media_menu .social_network {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}
.media_menu .main_btn {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 15px 25px;
  border-radius: 100px;
}

.media_menu.active {
  right: 0;
}

header {
  background-color: white;
  padding: 14px 0;
}
header .header_top {
  display: flex;
  align-items: center;
}
header .header_bottom {
  display: none;
}
header nav {
  margin-left: auto;
}
header .nav_link {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .nav_link a {
  color: rgb(29, 29, 29);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  transition: 0.2s ease;
}
header .nav_link a:hover {
  opacity: 0.7;
}
header .header_contact {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 7px;
}
header .header_contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(29, 29, 29);
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}
header .header_contact a img {
  transition: 0.2s ease;
}
header .header_contact a img:hover {
  opacity: 0.7;
}
header .header_contact button {
  margin-left: 10px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 600;
  line-height: 20.15px;
  border-radius: 100px;
  padding: 10px 20px;
}
header .burger_btn {
  display: none;
}

.home {
  height: 100dvh;
  background-image: url("https://static.tildacdn.com/tild3563-3262-4533-a436-336638363733/vivid-blurred-colorf.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.home .main_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home h1 {
  max-width: 660px;
  color: rgb(255, 255, 255);
  font-size: 45px;
  font-weight: 400;
  line-height: 52.65px;
  margin-bottom: 18px;
}
.home .home_left ul {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.home .home_left li {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  line-height: 27.9px;
}
.home .home_left a {
  margin-top: 45px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding: 20px 60px;
  border-radius: 100px;
}
.home .home_right {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.home .home_right li {
  display: flex;
  align-items: center;
  gap: 35px;
}
.home .home_right img {
  width: 45px;
}
.home .home_right p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 300;
  line-height: 24.8px;
  max-width: 265px;
}

.step_work {
  padding: 95px 0 45px 0;
}
.step_work .step_work_title {
  flex-direction: column;
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.step_work .title {
  margin-top: 6px;
  max-width: 489px;
}
.step_work .step_work_in {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 40px;
}
.step_work .step_work_card {
  width: calc(25% - 30px);
  display: flex;
  align-items: start;
  gap: 24px;
}
.step_work .step_card_number {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(252, 82, 35);
}
.step_work .step_card_number span {
  color: rgb(251, 251, 251);
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}
.step_work h6 {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 400;
  line-height: 22.95px;
  margin-bottom: 10px;
}
.step_work p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  line-height: 21.7px;
}

.tarif {
  padding: 100px 0 45px 0;
  background: rgb(238, 238, 238);
}
.tarif .tarif_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;
}
.tarif .tarif_in {
  display: flex;
  align-items: center;
  gap: 30px;
}
.tarif .tarif_card {
  height: 746px;
  flex: 1;
  text-align: center;
  padding: 45px 30px;
  border: 1px solid rgb(224, 230, 237);
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tarif .tarif_card h6 {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 600;
  line-height: 22.95px;
  margin: 40px 0 35px 0;
}
.tarif .tarif_card .tarif_card_bottom {
  margin-top: 35px;
}
.tarif .tarif_card h5 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}
.tarif .tarif_card ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tarif .tarif_card ul li {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 300;
  line-height: 24.8px;
}
.tarif .tarif_card .main_btn {
  margin-top: 35px;
  border-radius: 100px;
  padding: 20px 60px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  background: linear-gradient(0deg, rgb(49, 49, 49), rgb(74, 74, 74) 100%);
}
.tarif .tarif_card .main_btn:hover {
  background: linear-gradient(0deg, rgb(254, 62, 9), rgb(254, 92, 47) 100%);
}
.tarif .tarif_card_center {
  height: 786px;
  padding: 65px 30px;
}
.tarif .tarif_card_center .main_btn {
  background: linear-gradient(0deg, rgb(252, 82, 35), rgb(252, 109, 69) 100%);
}

.video {
  padding: 100px 0 40px 0;
}
.video .tarif_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 40px;
}
.video .tarif_title .title {
  max-width: 500px;
}
.video .video_in {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video .video_in iframe {
  width: 744px;
  height: 411px;
}

@media only screen and (max-width: 993px) {
  .title_top {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .title {
    font-size: 29px;
    font-weight: 500;
    line-height: 35px;
  }
  header {
    padding: 20px 0;
  }
  header .header_top {
    justify-content: center;
  }
  header .header_contact {
    margin-left: 50px;
  }
  header nav {
    display: none;
  }
  header .burger_btn {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 3;
  }
  .home {
    padding: 40px 0;
    height: auto;
    background-position: center;
  }
  .home .main_container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: 600px;
  }
  .home .home_right {
    width: 100%;
  }
  .home .home_right img {
    width: 35px;
  }
  .home .home_right p {
    max-width: 100%;
  }
  .step_work {
    padding: 60px 0;
  }
  .step_work .step_work_title {
    margin-bottom: 30px;
  }
  .step_work .step_work_in {
    gap: 30px;
  }
  .step_work .step_work_card {
    width: 100%;
  }
}
@media only screen and (max-width: 640px) {
  header .header_contact button {
    display: none;
  }
  .home h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 35.1px;
    margin-bottom: 14px;
  }
  .home .home_left .main_btn {
    padding: 20px 35px;
    margin-top: 20px;
  }
  .home .home_right {
    gap: 35px;
  }
  .home .home_right li {
    gap: 30px;
  }
}
@media only screen and (max-width: 480px) {
  header .header_top {
    margin-bottom: 10px;
  }
  header .header_top .header_contact {
    display: none;
  }
  header .header_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  header .header_bottom .messanger {
    width: 30px;
    height: 30px;
  }
  header .header_bottom .messanger img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */