* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

img {
  max-width: 100%;
}

span, label {
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Stolzl", "Arial", sans-serif;
  font-style: normal;
}

input {
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: 0;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.main_container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.main_btn {
  background: linear-gradient(0deg, rgb(252, 82, 35), rgb(252, 109, 69) 100%);
  transition: 0.2s ease;
}
.main_btn:hover {
  background: linear-gradient(0deg, rgb(254, 62, 9), rgb(254, 92, 47) 100%);
}

.title_top {
  color: rgb(143, 166, 180);
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

.title {
  color: rgb(35, 35, 35);
  font-size: 46px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
}

.media_menu_bg {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.media_menu_bg.active {
  display: block;
}

.media_menu {
  transition: 0.2s ease;
  position: fixed;
  background-color: #fff;
  height: 100%;
  width: 60%;
  right: -100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 42px 25px 25px 25px;
}
.media_menu .medu_close {
  position: absolute;
  top: 15px;
  right: 15px;
}
.media_menu ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.media_menu ul a {
  color: rgb(34, 34, 34);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}
.media_menu p {
  color: rgb(24, 24, 24);
  font-size: 13px;
  font-weight: 300;
  line-height: 18.85px;
  margin-bottom: 25px;
}
.media_menu .social_network {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}
.media_menu .main_btn {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 15px 25px;
  border-radius: 100px;
}

.media_menu.active {
  right: 0;
}

.modal_close {
  display: none;
  position: fixed;
  z-index: 5;
  top: 10px;
  right: 10px;
  background-color: transparent;
}

.modal_close.active {
  display: block;
}

.modal_contact {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  background-color: #fff;
  width: 550px;
  padding: 40px 45px;
  border-radius: 15px;
}
.modal_contact h6 {
  text-align: center;
  font-size: 36px;
  line-height: 1.23;
  font-family: "Stolzl", Arial, sans-serif;
  font-weight: 400;
  color: #000000;
  margin-bottom: 11px;
}
.modal_contact p {
  text-align: center;
  font-size: 16px;
  line-height: 1.55;
  font-family: "Stolzl", Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  margin-bottom: 15px;
}
.modal_contact form {
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 25px;
}
.modal_contact form input {
  width: 100%;
  color: #000000;
  border: 1px solid #c9c9c9;
  height: 60px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.33;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.modal_contact form .main_btn {
  width: 100%;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  height: 60px;
}

.modal_contact.active {
  display: block;
}

header {
  background-color: white;
  padding: 14px 0;
}
header .header_top {
  display: flex;
  align-items: center;
}
header .header_bottom {
  display: none;
}
header nav {
  margin-left: auto;
}
header .nav_link {
  display: flex;
  align-items: center;
  gap: 30px;
}
header .nav_link a {
  color: rgb(29, 29, 29);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  transition: 0.2s ease;
}
header .nav_link a:hover {
  opacity: 0.7;
}
header .header_contact {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 7px;
}
header .header_contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(29, 29, 29);
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}
header .header_contact a img {
  transition: 0.2s ease;
}
header .header_contact a img:hover {
  opacity: 0.7;
}
header .header_contact button {
  margin-left: 10px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 600;
  line-height: 20.15px;
  border-radius: 100px;
  padding: 10px 20px;
}
header .burger_btn {
  display: none;
}

.home {
  height: 100dvh;
  background-image: url("https://static.tildacdn.com/tild3563-3262-4533-a436-336638363733/vivid-blurred-colorf.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}
.home .main_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home h1 {
  max-width: 660px;
  color: rgb(255, 255, 255);
  font-size: 45px;
  font-weight: 400;
  line-height: 52.65px;
  margin-bottom: 18px;
}
.home .home_left ul {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.home .home_left li {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  line-height: 27.9px;
}
.home .home_left a {
  margin-top: 45px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding: 20px 60px;
  border-radius: 100px;
}
.home .home_right {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.home .home_right li {
  display: flex;
  align-items: center;
  gap: 35px;
}
.home .home_right img {
  width: 45px;
}
.home .home_right p {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 300;
  line-height: 24.8px;
  max-width: 265px;
}

.step_work {
  padding: 95px 0 45px 0;
}
.step_work .step_work_title {
  flex-direction: column;
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 72px;
}
.step_work .title {
  margin-top: 6px;
  max-width: 489px;
}
.step_work .step_work_in {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 40px;
}
.step_work .step_work_card {
  width: calc(25% - 30px);
  display: flex;
  align-items: start;
  gap: 24px;
}
.step_work .step_card_number {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: rgb(252, 82, 35);
}
.step_work .step_card_number span {
  color: rgb(251, 251, 251);
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
}
.step_work h6 {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 400;
  line-height: 22.95px;
  margin-bottom: 10px;
}
.step_work p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  line-height: 21.7px;
}

.tarif {
  padding: 100px 0 45px 0;
  background: rgb(238, 238, 238);
}
.tarif .tarif_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 35px;
}
.tarif .tarif_in {
  display: flex;
  align-items: center;
  gap: 30px;
}
.tarif .tarif_card {
  height: 746px;
  flex: 1;
  text-align: center;
  padding: 45px 30px;
  border: 1px solid rgb(224, 230, 237);
  border-radius: 15px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tarif .tarif_card h6 {
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-weight: 600;
  line-height: 22.95px;
  margin: 40px 0 35px 0;
}
.tarif .tarif_card .tarif_card_bottom {
  margin-top: 35px;
}
.tarif .tarif_card h5 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
}
.tarif .tarif_card ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tarif .tarif_card ul li {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 300;
  line-height: 24.8px;
}
.tarif .tarif_card .main_btn {
  margin-top: 35px;
  border-radius: 100px;
  padding: 20px 60px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  background: linear-gradient(0deg, rgb(49, 49, 49), rgb(74, 74, 74) 100%);
}
.tarif .tarif_card .main_btn:hover {
  background: linear-gradient(0deg, rgb(254, 62, 9), rgb(254, 92, 47) 100%);
}
.tarif .tarif_card_center {
  height: 786px;
  padding: 65px 30px;
}
.tarif .tarif_card_center .main_btn {
  background: linear-gradient(0deg, rgb(252, 82, 35), rgb(252, 109, 69) 100%);
}

.video {
  padding: 100px 0 40px 0;
}
.video .tarif_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 40px;
}
.video .tarif_title .title {
  max-width: 500px;
}
.video .video_in {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video .video_in iframe {
  width: 744px;
  height: 411px;
}

.answer {
  overflow: hidden;
  padding: 80px 0;
  background-image: url("../images/answer_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}
.answer .answer_line {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
}
.answer .main_container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.answer h6 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  max-width: 856px;
}
.answer .main_btn {
  border-radius: 100px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 600;
  line-height: 26.35px;
  padding: 30px 80px;
}
.answer p {
  max-width: 483px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.result {
  padding: 120px 0 75px 0;
}
.result .result_title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin-bottom: 50px;
}
.result .result_title .title {
  max-width: 724px;
}
.result .result_slider {
  position: relative;
  padding: 0 20px;
}
.result .result_slider button {
  position: absolute;
  z-index: 2;
  top: 45%;
}
.result .result_slider .result-button-prev {
  left: 20px;
}
.result .result_slider .result-button-next {
  right: 20px;
}
.result .swiper-wrapper {
  align-items: stretch;
}
.result .result_card {
  cursor: pointer;
  background: rgb(230, 238, 242);
  overflow: hidden;
  border-radius: 15px;
}
.result .result_card img {
  width: 100%;
}
.result .result_card .result_card_content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.result .result_card h5 {
  color: rgb(51, 51, 51);
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 2.5px;
  margin-bottom: 7px;
}
.result .result_card h6 {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 600;
  line-height: 20.25px;
  margin-bottom: 7px;
}
.result .result_card p {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 300;
  line-height: 21.7px;
}
.result .result_card .main_btn {
  margin-top: 20px;
  width: 145px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding: 15px 30px;
  border-radius: 100px;
}

.faq {
  padding: 100px 0 20px 0;
  background: rgb(238, 238, 238);
}
.faq .faq_title {
  text-align: center;
  max-width: 558px;
  margin: 0 auto 20px auto;
}
.faq .faq_in .accordion .accordion-item {
  border-bottom: 1px solid #c3c3c3;
}
.faq .faq_in .accordion .accordion-item .icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: 0.2s ease;
}
.faq .faq_in .accordion .accordion-item .icon svg {
  width: 40px !important;
  height: 40px !important;
}
.faq .faq_in .accordion .accordion-item button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.faq .faq_in .accordion .accordion-item:hover .icon {
  flex-shrink: 0;
  background-color: coral;
}
.faq .faq_in .accordion .accordion-item:hover .icon svg path {
  stroke: white;
}
.faq .faq_in .accordion .accordion_one {
  border-top: 1px solid #c3c3c3;
}
.faq .faq_in .accordion .accordion-item button[aria-expanded=true] .icon {
  transform: rotate(45deg);
}
.faq .faq_in .accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
.faq .faq_in .accordion .accordion-title {
  margin-right: 50px;
  font-family: "Stolzl", "Arial", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 600;
  line-height: 24.3px;
}
.faq .faq_in .accordion button[aria-expanded=true] .icon::after {
  width: 0;
}
.faq .faq_in .accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 30em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.faq .faq_in .accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.faq .faq_in .accordion .accordion-content p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.55;
  font-weight: 300;
  color: #000000;
}

footer {
  padding: 40px 0;
}
footer .footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .footer_link {
  display: flex;
  align-items: center;
  gap: 60px;
}
footer .footer_contact {
  display: flex;
  align-items: center;
}
footer .footer_contact span {
  color: rgb(255, 115, 77);
  margin-right: 25px;
}
footer .social_media_bottom {
  display: flex;
  justify-content: flex-end;
}
footer .social_media_bottom .main_btn {
  margin-top: 15px;
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 600;
  line-height: 20.15px;
  padding: 12px 70px;
  border-radius: 100px;
}
footer .socila_icon {
  display: flex;
  align-items: center;
  gap: 6px;
}
footer .social_media_top {
  display: flex;
  align-items: center;
  gap: 6px;
}
footer .social_media_top .phone_number {
  margin-right: 10px;
}
footer p {
  color: rgb(45, 45, 45);
  font-size: 12px;
  font-weight: 300;
  line-height: 19px;
  max-width: 310px;
}
footer .footer_bottom_link {
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
footer .footer_bottom_link a {
  color: rgb(110, 110, 110);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

@media only screen and (max-width: 1200px) {
  .tarif .tarif_card {
    height: 796px;
  }
  .tarif .tarif_card_center {
    height: 820px;
  }
}
@media only screen and (max-width: 993px) {
  .title_top {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .title {
    font-size: 29px;
    font-weight: 500;
    line-height: 35px;
  }
  header {
    padding: 20px 0;
  }
  header .header_top {
    justify-content: center;
  }
  header .header_contact {
    margin-left: 50px;
  }
  header nav {
    display: none;
  }
  header .burger_btn {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 3;
  }
  .home {
    padding: 40px 0;
    height: auto;
    background-position: center;
  }
  .home .main_container {
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: 600px;
  }
  .home .home_right {
    width: 100%;
  }
  .home .home_right img {
    width: 35px;
  }
  .home .home_right p {
    max-width: 100%;
  }
  .step_work {
    padding: 60px 0;
  }
  .step_work .step_work_title {
    margin-bottom: 30px;
  }
  .step_work .step_work_in {
    gap: 30px;
    max-width: 600px;
    margin: 0 auto;
  }
  .step_work .step_work_card {
    width: 100%;
  }
  .tarif {
    padding: 60px 0;
  }
  .tarif .tarif_in {
    flex-direction: column;
  }
  .tarif .tarif_card {
    width: 600px;
  }
  .tarif .tarif_card h6 {
    margin: 20px 0 30px 0;
  }
  .answer {
    padding: 60px 0;
    background-position: center center;
  }
  .answer h6 {
    font-size: 26px;
    line-height: 33px;
  }
  .answer p {
    font-size: 14px;
  }
  .answer .main_btn {
    padding: 30px 60px;
  }
  .result {
    padding: 60px 0;
  }
  .result .result_slider button img {
    width: 24px;
  }
  .result .result_slider .result-button-prev {
    left: 10px;
  }
  .result .result_slider .result-button-next {
    right: 10px;
  }
  .faq {
    padding: 60px 0 10px 0;
  }
  .faq .faq_in .accordion button {
    padding: 15px 0;
  }
  .faq .faq_in .accordion .accordion-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 22.3px;
  }
  .faq .faq_in .accordion .accordion-item .icon {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
  }
  .faq .faq_in .accordion .accordion-item .icon svg {
    width: 20px !important;
    height: 20px !important;
  }
  .faq .faq_in .accordion .accordion-content p {
    font-size: 14px;
  }
  footer .footer_top {
    flex-direction: column;
    gap: 30px;
  }
  footer .social_media_bottom {
    justify-content: center;
  }
  footer .social_media_bottom .main_btn {
    padding: 12px 72px;
  }
  footer .footer_link {
    gap: 40px;
  }
  footer .social_media_top {
    flex-direction: column;
  }
  footer .social_media_top span {
    margin-right: 0;
    margin-bottom: 20px;
  }
  footer .footer_bottom_link {
    margin-top: 0;
    flex-direction: column-reverse;
    gap: 10px;
  }
  footer .footer_bottom {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  footer .footer_bottom p {
    order: 2;
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
  }
  footer .footer_bottom .footer_bottom_link {
    order: 1;
  }
}
@media only screen and (max-width: 640px) {
  header .header_contact button {
    display: none;
  }
  .home h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 35.1px;
    margin-bottom: 14px;
  }
  .home .home_left .main_btn {
    padding: 20px 35px;
    margin-top: 20px;
  }
  .home .home_right {
    gap: 35px;
  }
  .home .home_right li {
    gap: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .tarif {
    padding: 60px 0 40px 0;
  }
  .tarif .tarif_card {
    width: 100%;
  }
  .tarif .tarif_card .main_btn {
    padding: 20px 30px;
  }
  .video {
    padding: 60px 0 40px 0;
  }
  .video .video_in iframe {
    width: 100%;
    height: 220px;
  }
  .modal_contact {
    border-radius: 0;
    border-top: 60px solid #000;
    width: 100%;
    height: 100%;
    padding: 30px;
  }
  .modal_contact form {
    gap: 20px;
  }
  .modal_close {
    top: 5px;
    z-index: 7;
  }
}
@media only screen and (max-width: 480px) {
  header .header_top {
    margin-bottom: 10px;
  }
  header .header_top .header_contact {
    display: none;
  }
  header .header_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  header .header_bottom .messanger {
    width: 30px;
    height: 30px;
  }
  header .header_bottom .messanger img {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */