// mixin
@mixin flex-full-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-full-stretch {
    display: flex;
    align-items: stretch;
    justify-content: center;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-start {
    display: flex;
    align-items: start;
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin transition {
    transition: .2s ease;
}
// mixin

// fonts
$font-Roboto: "Roboto", sans-serif;
// fonts

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

img {
    max-width: 100%;
}

span, label {
    display: inline-block;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Stolzl", "Arial", sans-serif;
    font-style: normal;
}

input {
    outline: none;
}

button {
    border: none;
    cursor: pointer;
    background: transparent;
    outline: 0;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.main_container {
    max-width: 1240px;
    padding: 0 20px;
    margin: 0 auto;
}

.main_btn {
    background: linear-gradient(0.00deg, rgb(252, 82, 35),rgb(252, 109, 69) 100%);
    @include transition();

    &:hover {
        background: linear-gradient(0.00deg, rgb(254, 62, 9),rgb(254, 92, 47) 100%);
    }
}

.title_top {
    color: rgb(143, 166, 180);
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
}

.title {
    color: rgb(35, 35, 35);
    font-size: 46px;
    font-weight: 500;
    line-height: 55px;
    text-align: center;
}

.media_menu_bg {
    display: none;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.media_menu_bg.active {
    display: block;
}

.media_menu {
    @include transition();
    position: fixed;
    background-color: #fff;
    height: 100%;
    width: 60%;
    right: -100%;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 42px 25px 25px 25px;

    .medu_close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 15px;

        a {
            color: rgb(34, 34, 34);
            font-size: 24px;
            font-weight: 400;
            line-height: 29px;
        }
    }

    p {
        color: rgb(24, 24, 24);
        font-size: 13px;
        font-weight: 300;
        line-height: 18.85px;
        margin-bottom: 25px;
    }

    .social_network {
        @include flex-center();
        gap: 5px;
        margin-bottom: 30px;
    }

    .main_btn {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        padding: 15px 25px;
        border-radius: 100px;
    }
}

.media_menu.active {
    right: 0;
}

// header
header {
    background-color: white;
    padding: 14px 0;

    .header_top {
        @include flex-center();
    }

    .header_bottom {
        display: none;
    }

    nav {
        margin-left: auto;
    }

    .nav_link {
        @include flex-center();
        gap: 30px;

        a {
            color: rgb(29, 29, 29);
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
            @include transition();

            &:hover {
                opacity: .7;
            }
        }
    }

    .header_contact {
        margin-left: 20px;
        @include flex-center();
        gap: 7px;

        a {
            @include flex-full-center();
            color: rgb(29, 29, 29);
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
            
            img {
                @include transition();
                
                &:hover {
                    opacity: .7;
                }
            }
        }
        
        
        button {
            margin-left: 10px;
            color: rgb(255, 255, 255);
            font-size: 13px;
            font-weight: 600;
            line-height: 20.15px;
            border-radius: 100px;
            padding: 10px 20px;
        }
    }

    .burger_btn {
        display: none;
    }
}
// header

// home
.home {
    height: 100dvh;
    background-image: url('https://static.tildacdn.com/tild3563-3262-4533-a436-336638363733/vivid-blurred-colorf.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    @include flex-center();

    .main_container {
        width: 100%;
        @include flex-center();
        justify-content: space-between;
    }

    h1 {
        max-width: 660px;
        color: rgb(255, 255, 255);
        font-size: 45px;
        font-weight: 400;
        line-height: 52.65px;
        margin-bottom: 18px;
    }

    .home_left {
        ul {
            display: flex;
            flex-direction: column;
            gap: 27px;
        }

        li {
            color: rgb(255, 255, 255);
            font-size: 18px;
            font-weight: 300;
            line-height: 27.9px;
        }

        a {
            margin-top: 45px;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            padding: 20px 60px;
            border-radius: 100px;
        }
    }

    .home_right {
        display: flex;
        flex-direction: column;
        gap: 60px;

        li {
            @include flex-center();
            gap: 35px;
        }

        img {
            width: 45px;
        }

        p {
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 300;
            line-height: 24.8px;
            max-width: 265px;
        }
    }
}
// home

// step_work
.step_work {
    padding: 95px 0 45px 0;

    .step_work_title {
        flex-direction: column;
        gap: 6px;
        @include flex-full-center();
        margin-bottom: 72px;
    }

    .title {
        margin-top: 6px;
        max-width: 489px;
    }

    .step_work_in {
        @include flex-start();
        flex-wrap: wrap;
        gap: 40px;
    }

    .step_work_card {
        width: calc(100% / 4 - 30px);
        @include flex-start();
        gap: 24px;
    }

    .step_card_number {
        flex-shrink: 0;
        @include flex-full-center();
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: rgb(252, 82, 35);

        span {
            color: rgb(251, 251, 251);
            font-size: 20px;
            font-weight: 600;
            line-height: 27px;
        }
    }

    h6 {
        color: rgb(0, 0, 0);
        font-size: 17px;
        font-weight: 400;
        line-height: 22.95px;
        margin-bottom: 10px;
    }

    p {
        color: rgb(0, 0, 0);
        font-size: 14px;
        font-weight: 300;
        line-height: 21.7px;
    }
}
// step_work

// tarif
.tarif {
    padding: 100px 0 45px 0;
    background: rgb(238, 238, 238);

    .tarif_title {
        @include flex-full-center();
        flex-direction: column;
        margin-bottom: 35px;
    }

    .tarif_in {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .tarif_card {
        height: 746px;
        flex: 1;
        text-align: center;
        padding: 45px 30px;
        border: 1px solid rgb(224, 230, 237);
        border-radius: 15px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
        background: rgb(255, 255, 255);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h6 {
            color: rgb(0, 0, 0);
            font-size: 17px;
            font-weight: 600;
            line-height: 22.95px;
            margin: 40px 0 35px 0;
        }

        .tarif_card_bottom {
            margin-top: 35px;
        }

        h5 {
            color: rgb(0, 0, 0);
            font-size: 20px;
            font-weight: 500;
            line-height: 27px;
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 20px;

            li {
                color: rgb(0, 0, 0);
                font-size: 16px;
                font-weight: 300;
                line-height: 24.8px;
            }
        }

        .main_btn {
            margin-top: 35px;
            border-radius: 100px;
            padding: 20px 60px;
            color: rgb(255, 255, 255);
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            background: linear-gradient(0.00deg, rgb(49, 49, 49),rgb(74, 74, 74) 100%);

            &:hover {
                background: linear-gradient(0.00deg, rgb(254, 62, 9),rgb(254, 92, 47) 100%);
            }
        }
    }

    .tarif_card_center {
        height: 786px;
        padding: 65px 30px;

        .main_btn {
            background: linear-gradient(0.00deg, rgb(252, 82, 35),rgb(252, 109, 69) 100%);
        }
    }
}
// tarif

// video
.video {
    padding: 100px 0 40px 0;

    .tarif_title {
        @include flex-full-center();
        flex-direction: column;
        gap: 6px;
        margin-bottom: 40px;

        .title {
            max-width: 500px;
        }
    }

    .video_in {
        @include flex-full-center();
        iframe {
            width: 744px;
            height: 411px;
        }
    }
}
// video

// answer
.answer {
    overflow: hidden;
    padding: 80px 0;
    background-image: url('../images/answer_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;

    .answer_line {
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        margin: 0 auto;
    }

    .main_container {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    h6 {
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        max-width: 856px;
    }

    .main_btn {
        border-radius: 100px;
        color: rgb(255, 255, 255);
        font-size: 17px;
        font-weight: 600;
        line-height: 26.35px;
        padding: 30px 80px;
    }

    p {
        max-width: 483px;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
    }
}
// answer

// result 
.result {
    padding: 120px 0 75px 0;

    .result_title {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        margin-bottom: 50px;

        .title {
            max-width: 724px;
        }
    }

    .result_slider {
        position: relative;
        padding: 0 20px;

        button {
            position: absolute;
            z-index: 2;
            top: 45%;
        }

        .result-button-prev {
            left: 20px;
        }

        .result-button-next {
            right: 20px;
        }
    }

    .swiper-wrapper {
        align-items: stretch;
    }

    .result_card {
        cursor: pointer;
        background: rgb(230, 238, 242);
        overflow: hidden;
        border-radius: 15px;

        img {
            width: 100%;
        }

        .result_card_content {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        h5 {
            color: rgb(51, 51, 51);
            font-size: 17px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: 2.5px;
            margin-bottom: 7px;
        }

        h6 {
            color: rgb(0, 0, 0);
            font-size: 15px;
            font-weight: 600;
            line-height: 20.25px;
            margin-bottom: 7px;
        }

        p {
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: 300;
            line-height: 21.7px;
        }

        .main_btn {
            margin-top: 20px;
            width: 145px;
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 400;
            line-height: 14px;
            padding: 15px 30px;
            border-radius: 100px;
        }
    }
}
// result 

// faq
.faq {
    padding: 100px 0 20px 0;
    background: rgb(238, 238, 238);
    .faq_title {
        text-align: center;
        max-width: 558px;
        margin: 0 auto 20px auto;
    }
    .faq_in {
        .accordion {
            .accordion-item {
                border-bottom: 1px solid #c3c3c3;

                .icon {
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    @include transition();

                    svg {
                        width: 40px !important;
                        height: 40px !important;
                    }
                }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &:hover {
                    .icon {
                        flex-shrink: 0;
                        background-color: coral;
                        svg {
                            path {
                                stroke: white;
                            }
                        }
                    }
                }
            }

            .accordion_one {
                border-top: 1px solid #c3c3c3;
            }
              
            .accordion-item button[aria-expanded='true'] {
                .icon {
                    transform: rotate(45deg);
                }
            }
              
            button {
                position: relative;
                display: block;
                text-align: left;
                width: 100%;
                padding: 1em 0;
                color: #7288a2;
                font-size: 1.15rem;
                font-weight: 400;
                border: none;
                background: none;
                outline: none;
            }
              
            .accordion-title {
                margin-right: 50px;
                font-family: "Stolzl", "Arial", sans-serif;
                color: rgb(0, 0, 0);
                font-size: 18px;
                font-weight: 600;
                line-height: 24.3px;
            }
              
            button[aria-expanded='true'] .icon::after {
                width: 0;
              }
               button[aria-expanded='true'] + .accordion-content {
                opacity: 1;
                max-height: 30em;
                transition: all 200ms linear;
                will-change: opacity, max-height;
              }
              .accordion-content {
                opacity: 0;
                max-height: 0;
                overflow: hidden;
                transition: opacity 200ms linear, max-height 200ms linear;
                will-change: opacity, max-height;

                p {
                    font-size: 16px;
                    margin-bottom: 20px;
                    line-height: 1.55;
                    font-weight: 300;
                    color: #000000;
                }
              }
        }
    }
}
// faq

// footer
footer {
    padding: 40px 0;

    .footer_top {
        @include flex-center();
        justify-content: space-between;
    }

    .footer_link {
        @include flex-center();
        gap: 60px;
    }

    .footer_contact {
        @include flex-center();

        span {
            color: rgb(255, 115, 77);
            margin-right: 25px;
        }
    }

    .social_media_bottom {
        display: flex;
        justify-content: flex-end;
        .main_btn {
            margin-top: 15px;
            color: rgb(255, 255, 255);
            font-size: 13px;
            font-weight: 600;
            line-height: 20.15px;
            padding: 12px 70px;
            border-radius: 100px;
        }
    }

    .socila_icon {
        @include flex-center();
        gap: 6px;
    }

    .social_media_top {
        @include flex-center();
        gap: 6px;

        .phone_number {
            margin-right: 10px;
        }
    }

    p {
        color: rgb(45, 45, 45);
        font-size: 12px;
        font-weight: 300;
        line-height: 19px;
        max-width: 310px;
    }

    .footer_bottom_link {
        margin-top: 45px;
        @include flex-full-center();
        gap: 40px;

        a {
            color: rgb(110, 110, 110);
            font-size: 13px;
            font-weight: 400;
            line-height: 20px;
        }
    }
}
// footer


@import './responsive';